[Desktop Entry]
Version=1.0
Name=LibreLector
Name[fr]=LibreLector
GenericName=Lecteur EPUB
GenericName[fr]=Lecteur EPUB
Comment=Lecteur EPUB avec synthèse vocale neuronale offline
Comment[fr]=Lecteur EPUB avec synthèse vocale neuronale offline
Exec=librelector %f
Icon=librelector
Terminal=false
Type=Application
Categories=Office;Viewer;AudioVideo;
MimeType=application/epub+zip;
Keywords=epub;livre;lecture;audio;tts;piper;ebook;
Keywords[fr]=epub;livre;lecture;audio;tts;piper;ebook;
StartupNotify=true
StartupWMClass=librelector
